perso/
__pycache__/
*.pyc
.env
venv/
.venv/
.DS_Store

# Debug files
debug_voyage.py

# Fichiers binaires Faiss
*.bin

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp

test_questions.json

Vanspeybrock_Fabrice_1_liengithub_112025.txt